<h1>Willkommen bei Gurke</h1>


<h1>Listing sections</h1>

<ul>
  <li>
 
    <div id="home:plants">

      <%= link_to "Pflanzen" , :plants %>
    </div>
  </li>
  <div id="home:families">
    <li>
      <%= link_to "Gattungen" , :families %></li>
  </div>
  <div id="home:beds">
    <li>
      <%= link_to "Garten" , :beds %></li>
  </div>
</ul>
