<h1>Willkommen bei Gurke</h1>

<ul>
  <li>
    <div id="home:plants">
<%= link_to "Pflanzen" , :plants %>
</div>
  </li>
    <div id="home:families">
  <li>
<%= link_to "Pflanzenfamilien" , :families %></li>
    </div>
</ul>
