<h1>Garten</h1>



  <% @beds.each do |bed| %>
    <div id="bed.<%= to_html_tag bed.name %>">
        <p><%= link_to bed.name, bed %> - <%= bed.field_state %></p>
     </div>
  <% end %>

<br />

<%= link_to 'New Bed', new_bed_path %>
