<!DOCTYPE html>
<html>
<head>
  <title>Gurke</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


<div id="leftcont">
	<div id="leftimg"><a title="home" href="/"><img alt="image description" src="/images/menu-top.jpg" /></a></div>
	<div id="menu">
		<ul>
			<li><a title="Pflanzen" href="/plants">Pflanzen</a></li>
			<li><a title="Gattungen" href="/families">Gattungen</a></li>
			<li><a title="Garten" href="/beds">Garten</a></li>
		</ul>
	</div>
</div>

<div id="main">
	<%= yield %>


</div>

</body>
</html>

